@font-face {
  font-family: "roboto_regular";
  src: url('~@/styles/common/font/ROBOTO-REGULAR-14.ttf') format('truetype')
}

@font-face {
  font-family: "roboto_bold";
  src: url('~@/styles/common/font/ROBOTO-BOLD-3.ttf') format('truetype')
}

@font-face {
  font-family: "roboto_medium";
  src: url('~@/styles/common/font/ROBOTO-MEDIUM-12.ttf') format('truetype')
}

@font-face {
  font-family: "lucon";
  src: url('~@/styles/common/font/lucon_0.ttf') format('truetype')
}