// default theme
$primary: #409eff;
$primary-dark: #337ecc;
$primary-darker: #4159d1;
$primary-light: #79bbff;
$primary-lighter: #a0cfff;

$info: #909399;
$info-dark: #73767a;
$info-light: #b1b3b8;
$info-lighter: #c8c9cc;

$clickable: #494ece;
$clickable-light: #6d7ed8;
$clickable-dark: #4246b9;

$warning: #e6a23c;

$error: #f56c6c;

$default-white: #ffffff;

$default-text: #606266;
$default-title: #4e59de;

$default-bg: #f5f7fa;