<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.ai.fate.board.dao.TaskMapper">

    <resultMap id="BaseResultMap" type="com.webank.ai.fate.board.pojo.TaskDO">
        <id column="f_job_id" jdbcType="VARCHAR" property="fJobId"/>
        <id column="f_role" jdbcType="VARCHAR" property="fRole"/>
        <id column="f_party_id" jdbcType="VARCHAR" property="fPartyId"/>
        <id column="f_task_id" jdbcType="VARCHAR" property="fTaskId"/>
        <id column="f_task_version" jdbcType="BIGINT" property="fTaskVersion"/>
        <result column="f_task_set_id" jdbcType="BIGINT" property="fTaskSetId"/>
        <result column="f_component_name" jdbcType="LONGVARCHAR" property="fComponentName"/>
        <result column="f_initiator_role" jdbcType="VARCHAR" property="fInitiatorRole"/>
        <result column="f_initiator_party_id" jdbcType="VARCHAR" property="fInitiatorPartyId"/>
        <result column="f_status" jdbcType="VARCHAR" property="fStatus"/>
        <result column="f_status_level" jdbcType="BIGINT" property="fStatusLevel"/>
        <result column="f_run_ip" jdbcType="VARCHAR" property="fRunIp"/>
        <result column="f_run_pid" jdbcType="INTEGER" property="fRunPid"/>
        <result column="f_party_status" jdbcType="VARCHAR" property="fPartyStatus"/>
<!--        <result column="f_party_status_level" jdbcType="BIGINT" property="fPartyStatusLevel"/>-->
        <result column="f_create_time" jdbcType="BIGINT" property="fCreateTime"/>
        <result column="f_update_time" jdbcType="BIGINT" property="fUpdateTime"/>
        <result column="f_start_time" jdbcType="BIGINT" property="fStartTime"/>
        <result column="f_end_time" jdbcType="BIGINT" property="fEndTime"/>
        <result column="f_elapsed" jdbcType="BIGINT" property="fElapsed"/>
    </resultMap>

    <select id="findTask" resultMap="BaseResultMap">

        select * from t_task where f_job_id = #{jobId} and f_role = #{role} and f_party_id =#{partyId} and
        f_component_name =#{componentName} order by f_task_version desc;

    </select>

</mapper>